name: Build & Push Docker Image

on:
  push:
    branches:
      - main
      - release/**

jobs:
  build-and-push:
    name: Build and push image to ${{ matrix.registry }} Google Artifact Registry
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write      # Required for GHCR
      id-token: write      # Required for Google Artifact Registry (GAR)
    strategy:
      matrix:
        include:
          - registry: single-region
            image: us-central1-docker.pkg.dev/sentryio/sentry-kafka-management/image
          - registry: multi-region
            image: us-docker.pkg.dev/sentryio/sentry-kafka-management-mr/image
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v3 # v3
      - uses: getsentry/action-build-and-push-images@4852d671d747d7c0268b2a3fc429fee9d4a16f78
        with:
          image_name: 'sentry-kafka-management'
          platforms: linux/amd64
          dockerfile_path: './Dockerfile'
          ghcr: false
          tag_nightly: false
          google_ar: true
          google_ar_image_name: ${{ matrix.image }}
          google_workload_identity_provider: projects/868781662168/locations/global/workloadIdentityPools/prod-github/providers/github-oidc-pool
          google_service_account: gha-gcr-push@sac-prod-sa.iam.gserviceaccount.com
