name: CI
permissions:
  contents: read

on:
  push:
    branches:
      - main
      - release/**
  pull_request:

jobs:
  tests:
    name: "Run tests"
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        # 3.9: Debian 11, 3.11: Ops repo, 3.13: Sentry prod
        python: ["3.9", "3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      # Special casing Python 3.9 since a bunch of internal pypi packages
      # don't support it
      - name: Make environment 3.9
        run: make install-ci-3.9
        if: ${{ matrix.python == '3.9' }}

      - name: Make environment
        run: make install-ci
        if: ${{ matrix.python != '3.9' }}

      - name: Run tests
        run: |
          source .venv/bin/activate
          make tests
