name: pre-commit
on:
    push:
      branches:
        - main
        - release/**
    pull_request:

permissions:
  contents: write
  pull-requests: write

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v3
    - uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Make environment
      run: make install-ci

    - name: Run pre-commit hooks
      run: |
        source .venv/bin/activate
        pre-commit run --all-files
