name: type-checking
on:
  push:
    branches:
      - main
      - release/**
  pull_request:

jobs:
  typing:
    name: "mypy typing"
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        # 3.9: Debian 11, 3.11: Ops repo, 3.13: Sentry prod
        python: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Make environment
        run: make install-ci

      - name: Run strict mypy
        run: |
          source .venv/bin/activate
          make typecheck
